.hide {
    display: none !important;
}

.pull-left {
    float: left !important;
}

.pull-right {
    float: right !important;
}

.center {
    text-align: center !important;
}

.text-right {
    text-align: right !important;
}

.margin16 {
    margin: 16px;
}

.mr5 {
    margin-right: 5px;
}

.mr10 {
    margin-right: 10px;
}

.mr15 {
    margin-right: 15px;
}

.mr26 {
    margin-right: 26px;
}

.mr32 {
    margin-right: 32px;
}

.ml15 {
    margin-left: 15px;
}

.mb15 {
    margin-bottom: 15px;
}

.mt10 {
    margin-top: 10px;
}

.mt15 {
    margin-top: 15px;
}

.mt30 {
    margin-top: 30px;
}

.mb5 {
    margin-bottom: 5px;
}

.mb10 {
    margin-bottom: 10px;
}

.mb14 {
    margin-bottom: 14px !important;
}

.margin-right-8 {
    margin-right: 8px;
}

.margin-right-10 {
    margin-right: 10px;
}

.margin-right-12 {
    margin-right: 10px;
}

.margin-right-20 {
    margin-right: 20px;
}

.margin-right-35 {
    margin-right: 35px;
}

.margin-left-20 {
    margin-left: 20px;
}

.margin-left-10 {
    margin-left: 10px;
}

.margin-left-12 {
    margin-left: 12px;
}

.margin-left-60 {
    margin-left: 60px;
}

.margin-left-50 {
    margin-left: 50px;
}

.margin-bottom-10 {
    margin-bottom: 10px;
}

.margin-bottom-20 {
    margin-bottom: 20px;
}

.margin-bottom-30 {
    margin-bottom: 30px;
}

.margin-bottom-40 {
    margin-bottom: 40px;
}

.margin-top-40 {
    margin-top: 40px;
}

.margin-top-25 {
    margin-top: 25px;
}

.margin-top-20 {
    margin-top: 20px;
}

.margin-top-10 {
    margin-top: 10px;
}

.margin-top-5 {
    margin-top: 5px;
}

.border-bottom-ccc {
    border-bottom: 1px solid #ccc;
}

.border-top-ccc {
    border-top: 1px solid #ccc;
}

.border-ccc {
    border: 1px solid #ccc;
}

.padding-10 {
    padding: 10px;
}

.padding-15 {
    padding: 15px;
}

.padding-20 {
    padding: 20px;
}

.padding-top-15 {
    padding-top: 15px;
}

.padding-top-30 {
    padding-top: 30px;
}

.padding-tb-15 {
    padding-top: 15px;
    padding-bottom: 15px;
}

.padding-l-10 {
    padding-left: 10px;
}

.padding-l-20 {
    padding-left: 20px;
}

.padding-r-20 {
    padding-right: 20px;
}

.font-size-12 {
    font-size: 12px;
}

.font-size-13 {
    font-size: 13px;
}

.font-size-14 {
    font-size: 14px;
}

.font-size-16 {
    font-size: 16px;
}

.font-size-18 {
    font-size: 18px;
}

.font-size-24 {
    font-size: 24px;
}

.font-size-30 {
    font-size: 30px;
}

.font-size-36 {
    font-size: 36px;
}

.no-padding {
    padding: 0 !important;
}

.font-c-white {
    color: #fff;
}

.c-grey {
    color: #666;
}

.c-grey-c {
    color: #ccc;
}

.strong {
    font-weight: 600;
}

.text-gray {
    color: #999999;
}

.text-red {
    color: #f50;
}

.text-blue {
    color: #2db7f5;
}

.text-success {
    color: #00A854;
}

.response-img {
    max-width: 100%;
}

.ant-btn-danger {
    color: #fff;
    background-color: #f50;
    border-color: #f50;
}

.dynamic-delete-button {
    cursor: pointer;
    position: relative;
    top: 4px;
    font-size: 24px;
    color: #999;
    transition: all .3s;
}

.dynamic-delete-button:hover {
    color: #777;
}

.dynamic-delete-button[disabled] {
    cursor: not-allowed;
    opacity: 0.5;
}

.width-80 {
    width: 80px;
}